/* Layout sizes */
$mobile: 375px;
$desktop: 500px;
$radius: 22px;

/* Colors */
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$light-grayish-blue: hsl(240, 5%, 91%);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$white: hsl(255,100%,100%);

/* Typography */
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


$large-text: 32px;
$medium-text: 16px;
$small-text: 12px;
$body-copy-bold: 700;
$body-copy-regular: 400;
$Kumbh-sans: 'Kumbh Sans'; 

.wrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: fit-content;
    width: 300px;
    padding: 12px;
    padding-top: 200px;
    margin-top: 128px;
    border-radius: $radius;
    background-color: $white;

    .cube {
        display: none;
    }

    .img-container {
        height: 250px;
        width: 250px;
        position: absolute;
        top: 16px;

        .image {
            content: url("../../images/illustration-woman-online-mobile.svg");
        }

        .img-shadow {
            content: url("../../images/bg-pattern-mobile.svg");
            position: relative;
            top: -78px;
        }
    }

    .faq-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -48px;
        gap: 12px;     

        h1 {
            font-size: $large-text;
            font-weight: $body-copy-bold;
        }

        .faq {
            height: 18px;
            overflow: hidden;
            font-size: $small-text;
            padding: 8px;
            line-height: 18px;
            border-bottom: 1px solid $light-grayish-blue;

            .question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // font-weight: $body-copy-bold;  
                letter-spacing: 0.5px;
                color: $very-dark-desaturated-blue;

                .arrow {
                    width: auto;
                    height: 8px;
                }
            }

            .question:hover {
                color: $soft-red;
                cursor: pointer;
            }

            .answer {
                margin-top: 8px;
                color: $dark-grayish-blue;
            }
        }

        .faq-open {
            height: 72px;

            .question {
                font-weight: $body-copy-bold;

                .arrow {
                    rotate: 180deg;
                }
            }
        }

    }
}